* {
    font-family: kanit, sans-serif;
    font-weight: 300;
    background-color: antiquewhite;
}

body{
    margin: 30px;
}

h1 {
    font-family: kanit, sans-serif;
    font-weight: 900;
}

legend {
    font-size: 30px;
    font-weight: 500;
}

fieldset {
    border-radius: 10px;
}

label, input, select {
    margin: 15px 5px;
}

input, select, option, textarea {
    background-color: aliceblue;
}

input#enviar_datos, input#limpiar_datos {
    font-weight: 800;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: white;
    width: 250px;
}

input#enviar_datos, input#limpiar_datos {
    background-color: darkred;
}

header>nav>ul>li>a {
    background-color: cadetblue;
    font-weight: 800;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: white;
    width: 350px;
    text-align: center;
    display: block;
    text-decoration: none;
}
header>nav>ul>li{
    list-style: none;
}